[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = jbeattie5768
	email = jbeattie5768@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = wincred
[maintenance]
	repo = C:/w_local_drive/learning/git/git_example
[merge]
	tool = winmerge
[mergetool]
	prompt = false
[mergetool "winmerge"]
	cmd = \\\"C:\\Program Files\\WinMerge\\WinMergeU.exe
